<!--
sumary_line

Keyword arguments:
argument -- description
Return: return_description 
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
    <link
      rel="icon"
      href="https://i.etsystatic.com/isla/df9f2d/40507069/isla_500x500.40507069_5h2xhyls.jpg?version=0"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    {% block head %} {% endblock %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='student/css/base.css') }}"
    />
    <script src="{{ url_for('static', filename='student/js/base.js') }}"></script>
    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav
      class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark base_navbar"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            class="base_container_cloud_navbar_brand_img"
            src="https://i.etsystatic.com/isla/df9f2d/40507069/isla_500x500.40507069_5h2xhyls.jpg?version=0"
            alt=""
            width="50"
            height="50"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link collapse_navbar_nav_item_1"
                aria-current="page"
                href="/"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link collapse_navbar_nav_item_1"
                aria-current="page"
                href="/Admin/Accounts"
                >Accounts</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link collapse_navbar_nav_item_1"
                aria-current="page"
                href="/Admin/Subjects"
                >Subjects</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link collapse_navbar_nav_item_1"
                aria-current="page"
                href="https://whatsapp-clone-v2-react-js-rd.firebaseapp.com/"
                >Group Chats</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link collapse_navbar_nav_item_1"
                aria-current="page"
                href="https://messenger-app-react-js-rd.firebaseapp.com/"
                >Overall Chat</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br />
    <div class="container">
      <div class="flash_messages">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %}
        <br />
        <div class="alert alert-{{ category }}" role="alert">
          <p>
            <b><i>{{ message }}</i></b>
          </p>
        </div>
        <br />
        {% endfor %} {% endif %} {% endwith %}
      </div>
    </div>
    <br />
    {% block body %} {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
