<!--
sumary_line
Keyword arguments:
argument -- description
Return: return_description 
-->
{% extends "/student/base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='student/css/home.css') }}"
/>
<script src="{{ url_for('static', filename='student/js/home.js') }}"></script>
<title>Home</title>

{% endblock %} {% block body %}
<div class="container px-4">
  {% for subject_iter in subjects %}
  <div class="row gx-5">
    {% for subject in subject_iter %}
    <div class="col">
      <div class="p-3 border bg-light">
        <center>
          <div class="card" style="width: 18rem">
            <iframe
              src="{{subject[3]}}"
              width="1000"
              height="500"
              class="card-img-top"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
            <div class="card-body">
              <h5 class="card-title">{{subject[1]}}</h5>
              <p class="card-text">{{subject[2]}} ID = {{subject[0]}}</p>
              <a href="/Usr/{{session['id']}}/Subject/{{subject[0]}}"
                ><button class="btn btn-primary">
                  Find Courses about this Subject
                </button></a
              >
            </div>
          </div>
        </center>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}
