@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
* {
  margin: 0;
  font-family: "Mochiy Pop P One", sans-serif;
}
body {
  margin: 0 !important;
  font-family: "Mochiy Pop P One", sans-serif;
  background-color: #ffbd00 !important;
  background: #ffbd00 !important;
  color: #464646 !important;
}
.navbar_styles {
  background-color: #ffbd00 !important;
  background: #ffbd00;
}
.company_name {
  width: 394px !important;
  height: 174px !important;
  transform: translate(-50%, -50%);
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 100px !important;
  line-height: 100px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  color: #464646 !important;
}
.center_text {
  position: fixed;
  top: 50%;
  left: 50%;
  align-items: center;
  justify-content: center;
}
.moto {
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 62px;
  display: flex;
  align-items: center;
  text-align: center;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  text-align: center;
}
.design_small {
  position: absolute;
  width: 135px;
  height: 69px;
  left: 1488.46px;
  top: 696.84px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
  transform: rotate(160deg);
}
.home {
}
