/*
sumary_line

Keyword arguments:
argument -- description
Return: return_description
*/
* {
  font-family: "Mochiy Pop P One", sans-serif !important;
}
.sign_up_row_gx_5_1 {
  height: 100% !important;
  width: 100% !important;
  background-color: white !important;
}
.sign_up_col_1 {
  background-color: white !important;
}
.sign_up_p3_bg_light_1 {
  background-color: white !important;
}
.sign_up_col_2 {
  margin: auto !important;
  width: 50% !important;
  background-color: white !important;
}
.sign_up_p3_bg_light_2 {
  padding: 50px !important;
  background-color: white !important;
}
.sign_up_main_title_1 {
  font-size: 100px !important;
  color: rgb(0, 195, 255) !important;
}
.sign_in_form_control_1 {
  width: 500px !important;
  border-radius: 25px;
}
.sign_up_btn_outline_secondary_1 {
  border-radius: 25px !important;
}
.text_style_1 {
  color: rgb(0, 195, 255) !important;
}
