<!--
sumary_line

Keyword arguments:
argument -- description
Return: return_description 
-->
{% extends "/home/base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='home/css/sign_up.css') }}"
/>
<script src="{{ url_for('static', filename='home/js/sign_up.js') }}"></script>
<title>Sign Up</title>

{% endblock %} {% block body %}
<div>
  <div class="overflow-hidden">
    <div class="row gx-5 sign_up_row_gx_5_1">
      <div class="col sign_up_col_1">
        <div class="p-3 bg-light sign_up_p3_bg_light_1">
          <img
            src="{{config['config']['Sign Up']['Gif']}}"
            alt=""
            height="600"
            width="800"
          />
        </div>
      </div>
      <div class="col sign_up_col_1">
        <div class="p-3 bg-light sign_up_p3_bg_light_2">
          <!-- 
          <br />
          <h3></h3>
          <br />
          <button
            type="button"
            class="btn btn-outline-secondary"
            style="border-radius: 25px !important"
          >
            <h2 style="color: rgb(0, 195, 255) !important">Getting Started</h2>
          </button> -->
          <h1 class="sign_up_main_title_1">
            <b>Sign Up</b>
          </h1>
          <form method="post">
            <div class="mb-3">
              <!-- <label for="User Name" class="form-label"
                ><h3></h3></label
              > -->
              <input
                name="User Name"
                type="text"
                class="form-control sign_in_form_control_1"
                id="User Name"
                aria-describedby="emailHelp"
                value="{{session['User Name']}}"
                placeholder="User Name"
              />
            </div>
            <div class="mb-3">
              <!-- <label for="Email" class="form-label"><h3>Email</h3></label> -->
              <input
                type="email"
                class="form-control sign_in_form_control_1"
                id="Email"
                name="Email"
                value="{{session['Email']}}"
                placeholder="Email"
              />
            </div>
            <div class="mb-3">
              <!-- <label for="Password" class="form-label"><h3>Password</h3></label> -->
              <input
                type="password"
                class="form-control sign_in_form_control_1"
                id="Password"
                name="Password"
                value="{{session['Password']}}"
                placeholder="Password"
              />
            </div>
            <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="Remember Password"
                name="Remember Password"
              />
              <label class="form-check-label" for="Remember Password"
                >Remember Password</label
              >
            </div>
            <!-- <a href=""><h5>Already have a account ?</h5></a>
            <a href=""><h5>Forgot password ?</h5></a> -->
            <button type="submit" class="btn btn-dark"><h2>Submit</h2></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
