/*
sumary_line

Keyword arguments:
argument -- description
Return: return_description
*/

* {
  font-family: "Mochiy Pop P One", sans-serif !important;
}
.p-3 .bg-light {
  padding-left: 100px !important;
}
.home_row_gx_5_1 {
  height: 100% !important;
  width: 100% !important;
  background-color: white !important;
}
.home_col_1 {
  margin: auto !important;
  width: 50% !important;
  background-color: white !important;
}
.home_p3_bg_light_1 {
  padding: 50px !important;
  background-color: white !important;
}
.home_main_title_1 {
  font-size: 100px !important;
  color: rgb(93, 54, 167) !important;
}
.home_btn_outline_secondary_1 {
  border-radius: 25px !important;
  color: rgb(93, 54, 167) !important;
}
.home_col_2 {
  background-color: white !important;
}
.home_p3_bg_light_2 {
  background-color: white !important;
}
.home_row_gx_5_2 {
  height: 100% !important;
  width: 100% !important;
  background-color: white !important;
}
.home_col_3 {
  background-color: white !important;
}
.home_p3_bg_light_3 {
  background-color: white !important;
}
.home_col_4 {
  margin: auto !important;
  width: 50% !important;
  background-color: white !important;
}
.home_p3_bg_light_4 {
  padding: 50px !important;
  background-color: white !important;
}
.home_main_title_2 {
  font-size: 100px !important;
  color: rgb(255, 196, 0) !important;
}
.home_main_title_3 {
  color: rgb(255, 196, 0) !important;
}
.home_row_gx_5_3 {
  height: 100% !important;
  width: 100% !important;
  background-color: white !important;
}
.home_col_5 {
  margin: auto !important;
  width: 50% !important;
  background-color: white !important;
}
.home_p3_bg_light_5 {
  padding: 50px !important;
  background-color: white !important;
}
.home_main_title_4 {
  font-size: 100px !important;
  color: rgb(54, 27, 211) !important;
}
.home_btn_outline_secondary_2 {
  border-radius: 25px !important;
}
.home_ask_question_button {
  color: rgb(54, 27, 211) !important;
}
.home_col_6 {
  background-color: white !important;
}
.home_p3_bg_light_6 {
  background-color: white !important;
}
.home_btn_outline_secondary_3 {
  border-radius: 25px !important;
}
