/*
sumary_line

Keyword arguments:
argument -- description
Return: return_description
*/

.courses_content_1 {
  resize: both;
  overflow: auto;
  height: 250px;
}
.cources_list_resources {
  resize: both;
  overflow: auto;
  height: 125px;
}
.cources_list_questions {
  resize: both;
  overflow: auto;
  height: 125px;
}
.cources_p3_border_bg_light_1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
