/*
sumary_line

Keyword arguments:
argument -- description
Return: return_description
*/

.overflow-hidden {
  padding: 25px !important;
}
body {
  background-color: #1272e9 !important;
}
.home_row_gx_5_1 {
  height: 100% !important;
  width: 100% !important;
  background-color: #1272e9 !important;
}
.home_col_1 {
  margin: auto !important;
  width: 50% !important;
  background-color: #1272e9 !important;
}
.home_col_2 {
  background-color: #1272e9 !important;
}
.home_p3_bg_light_1 {
  background-color: #1272e9 !important;
}
